.home-section {
    padding-top: 3.5rem!important;
    position: relative;
}

.home-content {
    background-image: url('../../assets/homepagebanner.png');
    background-position: center;
    background-size: cover;
    color: #58595b;
    text-align: left;
    position: relative;
    height: 700px;
}

.row div{
    z-index: 1;
}

.role {
    font-size: 3.5em!important;
    color: green;
    margin-bottom: 0!important;
    /* padding-bottom: 0!important; */
    /* padding-top: 120px!important; */
    text-align: center;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2em!important;
}
.role-description {
    font-size: 1.2em!important;
    text-align: center;
    /* margin-bottom: 15px; */
}
.linkedin-connect {
    align-items: center;
    display: flex;
    justify-content: center;
}
.social-connect {
    width: 50% !important;
}
@media (max-width: 768px) {
    .homepage-banner-image {
        position: relative !important;
    }
}
.homepage-banner-image {
    position: absolute;
    width: 100%;
    margin: auto;
    z-index: 0;
    left: 0;
    right: 0;
}
/* .homepage-banner-section {
    height: 100%;
    max-height: 700px;
} */
.first-role {
    color: indianred;
}
@media (max-width: 768px) {
    .homepage-banner-title {
        flex: 0 0 auto;
        width: 50% !important;
    }
}
@media (max-width: 768px) {
    .homepage-banner-space {
        display: none;
    }
}
@media (min-width: 992px) {
    .title-columns-lg {
        position: absolute;
        top: 20%;
        right: 5%;
        left: 5%;
    }
    .title-columns-sm {
        display: none !important;
    }
}
@media (max-width: 991px) {
    .title-columns-sm {
        position: relative;
    }
    .title-columns-lg {
        display: none !important;
    }
    .homepage-banner-title {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .role {
        font-size: 2.5em !important;
    }
    .role-description {
        font-size: 1.0em !important;
    }
    .home-content {
        height: 400px;
    }
}