.home-section {
    padding-top: 50px!important;
    position: relative;
}

.home-content {
    color: #58595b;
    padding: 5rem 0 2rem!important;
    text-align: left;
    position: relative;
    height: 700px;
}

.row div{
    z-index: 1;
}

.role {
    font-size: 3em!important;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    padding-top: 120px!important;
    text-align: center;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;;
    font-style: normal;
    font-weight: 700;
}
.role-description {
    font-size: 1.8em!important;
    padding-left: 50px!important;
}
.linkedin-connect {
    align-items: center;
    display: flex;
    justify-content: center;
}
.social-connect {
    width: 50% !important;
}
.homepage-banner-image {
    position: absolute;
    height: calc(100% - 5rem - 2rem);
    margin: auto;
    z-index: 0;
    left: 0;
    right: 0;
}
