.home-section {
    padding-top: 3.5rem!important;
    position: relative;
    height: 100%;
}

.home-content {
    color: #58595b;
    text-align: left;
    position: relative;
    height: 100%;
}

.row div{
    z-index: 1;
}

.role {
    font-size: 2.5em!important;
    color: green;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    padding-top: 120px!important;
    text-align: center;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2em!important;
}
.role-description {
    font-size: 1.1em!important;
    text-align: center;
    margin-bottom: 15px;
}
.linkedin-connect {
    align-items: center;
    display: flex;
    justify-content: center;
}
.social-connect {
    width: 50% !important;
}
.homepage-banner-image {
    position: absolute;
    height: 100%;
    margin: auto;
    z-index: 0;
    left: 0;
    right: 0;
}
.homepage-banner-section {
    height: 100vh;
    max-height: 700px;
}