.featured-projects-section {
    background-color: #f9f9f9;
    text-align: center;
}
.featured-projects-title {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
}
.featured-projects-title::before, .featured-projects-title::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: darkgray;
    margin: 15px;
  }