.years-count {
    font-size: 100px!important;
    color:mediumblue;
}
.title {
    font-size: 36px;
}
.card-style {
    padding: 50px 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.company-logo {
    object-fit: contain;
    max-width: 100%;
}
.position-title {
    padding: 30px 10px 10px 10px;
}
.experience-title h2 {
    font-weight: 400!important;
    font-size: 36px!important;
    line-height: 1.5em!important;
}
.position-title h3 {
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 1.4em !important;
}
.company-logo-container {
    padding: 5px 15px;
}
.experience-title {
    text-align: center!important;
}
.experience-title-container {
    flex-direction: column;
    justify-content: center;
}
.experience-card {
    padding: 15px;
}