.profile-picture {
    object-fit: contain;
    max-width: 100%;
}

.profile-picture-container {
    padding-left: 50px!important;
}

.aboutme-container {
    padding-left: 90px!important;
}
.aboutme {
    font-size: 20px;
    line-height: 1.75em;
}
.introduction {
    padding-top: 30px;
    padding-bottom: 30px;
}
.aboutme h2 {
    font-size: 58px;
    font-weight: 700;
    line-height: 1.3em;
}
.aboutme-subtitle {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}
.aboutme-title {
    text-align: left!important;
}
#about-me {
    background-color: #fff5ec;
    padding: 70px 40px;

}
.introduction {
    text-align: left;
}